{% extends 'base.html.twig' %}

{% block title %}New Condicion{% endblock %}

{% block body %}
    <h1>Create new Condicion</h1>

    {{ include('condicion/_form.html.twig') }}

    <a href="{{ path('app_condicion_index') }}">back to list</a>
{% endblock %}
